.hero {
  background: url("../imagenes/charlesdeluvio-Lks7vei-eAg-unsplash.jpg")
    no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}
.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

nav {
  border-bottom: 2px solid #4300ff;
}
