// Custom.scss
// Option A: Include all of Bootstrap

// Sobrescribir variables antes de importar
$primary: #4300ff;
$secondary: #00caff;
$info: #00ffde;
$light:#ffffff;
// custom.scss

.nav-link {
   
    color:#4300ff !important ;
   
}
  
  .dropdown-item {
  
     color:#4300ff !important; 
    
}

$dropdown-border-color:$primary;
$dropdown-border-radius: 0px;
$dropdown-link-hover-bg:#00ffddb4;
  

// Importar Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Aquí puedes añadir CSS adicional si quieres
